---
import NavBar from "../components/NavBar.astro";
import HeroBanner from "../components/HeroBanner.astro";
import { ViewTransitions } from "astro:transitions";
const {title, description} = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<ViewTransitions 
		/>
		<title>{title}</title>
		<style is:global>
			:root{
				    --theme-color-lightst: #000000;   /* fondo principal */
					--theme-color-light: #090967;     /* azul acento */
					--theme-color-dark: #7079d3;      /* hover */
					--theme-color-medium: #b1b3c9;    /* gris para texto */
					--theme-background-color: #558d02; /* fondo de navegación */
			}
			body{
				margin: 0;
			}
		</style>
	</head>
	<body>
		<NavBar/>
		<HeroBanner title={title} description={description}/>
		<slot></slot>
	</body>
</html>